APPLICATION_URL: https://h0dor.localhost

OPENID_PRIVATE_KEY: |
  -----BEGIN PRIVATE KEY-----
  <PRIVATE KEY CONTENT>
  -----END PRIVATE KEY-----

OPENID_PUBLIC_KEY: |
  -----BEGIN PUBLIC KEY-----
  <PUBLIC KEY CONTENT>
  -----END PUBLIC KEY-----
